@import "variables.scss";

// Global Rules 
h1, h2, h3 {
    font-family: Montserrat, sans-serif;
    color: $white;
}

p {
    font-family: "Open Sans", sans-serif;
    color: $third-color;
}


// Start Header
header {
    @extend %grid-content;
    width: 100%;
    background-color: $main-color;
    color: $white;
    
    > .header__container {
        grid-column: content;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > .header__logo {
            padding: 16px 0px;
            font-family: Montserrat, sans-serif;
        }

        nav {
            padding: 16px 0px;
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            text-transform: uppercase;

            ul {

                @media (max-width: 640px) {
                    display: none;
                }

                li {
                    display: inline-block;
                    transition: $transition-duration ease-in-out opacity;
    
                    &:not(:last-child) {
                        margin-right: 24px;
                    }

                    &:not(:hover) {
                        opacity: 0.8;
                    }
                }
            }

            .header__burger-menu {
                font-size: 16px;
                cursor: pointer;

                @media(min-width: 640px) {
                    display: none;
                }
            }
        }
    }
}
// End Header 

// Start Hero Section 
section.hero-section {
    @extend %grid-content;
    width: 100%;
    height: calc(100vh - 56px);
    background-color: $main-color;

    > .hero-section__container {
        grid-column: content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;

        @media(max-width: 640px) {
            flex-direction: column;
        }

        .hero-section__text {
            max-width: 50%;
            min-width: 300px;

            @media(max-width: 996px) {
                font-size: 14px;
            }

            @media(max-width: 640px) {
                font-size: 12px;
                text-align: center;
            }  

            h1 {
                color: $white;
                font-size: 3em;
                text-transform: uppercase;
                margin-bottom: 8px;
            }

            p {
                font-size: 14px;
            }

            .hero-section__buttons {
                margin-top: 32px;
                display: flex;
                gap: 16px;

                @media(max-width: 640px) {
                    justify-content: center;
                }

                a:first-child {
                    @extend %button-main-style;
                }

                a:nth-child(2) {
                    @extend %button-second-style;
                }
            }
        }

        // .hero-section__images {
        //     position: relative;

        //     img {
        //         max-width: 100%;
        //         height: auto;
        //         object-fit: cover;
        //         object-position: top center;

        //         &:first-child {
        //             display: none;
        //             position: absolute;
        //             top: 50%;
        //             left: 0px;
        //             transform: translate(-50%, -50%);
        //             aspect-ratio: 1 / 1;
        //         }
        //     }
        // }
    }
}
// End Hero Section 

// Start About Us Section 
section.about-us-section {
    @extend %grid-content;
    padding: $section-ver-padding 0px;
    background-color: $main-color;
    position: relative;

    &:hover::after {
        width: 100%;
    }

    &::after {
        @extend %section-end-line;
    }

    > .about-us-section__container {
        grid-column: content;

        .about-us-section__title-1 {
            @extend %title-1;
        }

        .about-us-section__content {
            margin-top: 32px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            grid-gap: 32px;

            @media (max-width: 640px) {
                grid-template-columns: 1fr;
            }

            img {
                max-width: 100%;
                aspect-ratio: 16 / 9;
                object-fit: cover;
                border-radius: 10px;
                filter: brightness(60%);
            }

            .about-us-section__text {
                max-width: 500px;

                @media (max-width: 768px) {
                    font-size: 14px;
                }

                @media (max-width: 640px) {
                    text-align: center;
                    font-size: 12px;
                }

                h3 {
                    font-size: 1.2em;
                }

                p {
                    font-size: 1em;
                }
                
                a {
                    @extend %button-second-style;
                    margin-top: 16px;
                }
            }
        }
    }
}
// End About Us Section 

// Start Gallery Section 
section.gallery-section {
    @extend %grid-content;
    padding: $section-ver-padding 0px;
    background-color: $main-color;
    position: relative;

    &:hover::after {
        width: 100%;
    }

    &::after {
        @extend %section-end-line;
    }

    > .gallery-section__container {
        grid-column: content;

        > .gallery-section__title {
            @extend %title-2;
        }

        > .gallery-section__content {
            margin-top: 32px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 16px;

            img {
                border-radius: 10px;
                opacity: 0.8;
                transition: $transition-duration ease-in-out opacity;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
// End Gallery Section 

// Start Why Us Section 
section.why-us-section {
    @extend %grid-content;
    padding: $section-ver-padding 0px;
    background-color: $main-color;
    position: relative;

    &:hover::after {
        width: 100%;
    }

    &::after {
        @extend %section-end-line;
    }

    > .why-us-section__container {
        grid-column: content;

        .why-us-section__title-1 {
            @extend %title-1;
        }

        .why-us-section__content {
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            gap: 32px;

            @media(max-width: 768px) {
                font-size: 14px;
            }

            @media(max-width: 640px) {
                text-align: center;
                font-size: 12px;
            }

            > div {
                display: flex;
                gap: 32px;

                @media(max-width: 768px) {
                    flex-direction: column;
                }
            }

            h3 {
                font-size: 1.2em;
            }

            p {
                margin-top: 8px;
                font-size: 1em;
                max-width: 500px;

                @media(min-width: 768px) {
                    margin-left: 24px;
                }
            }
        }
    }
}
// End Why Us Section 

// Start Offers Section
section.offers-section {
    @extend %grid-content;
    background-color: $main-color;
    padding: $section-ver-padding 0px;
    position: relative;

    &:hover::after {
        width: 100%;
    }

    &::after {
        @extend %section-end-line;
    }

    > .offers-section__container {
        grid-column: content;

        .offers-section__title {
            @extend %title-2;
        }

        .offers-section__content {
            margin-top: 32px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
            grid-gap: 32px;

            @media(max-width: 768px) {
                font-size: 14px;
            }

            @media(max-width: 640px) {
                font-size: 12px;
            }

            .offers-section__offer {
                padding: 32px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                aspect-ratio: 4 / 5;
                border-radius: 5px;
                transition: $transition-duration ease-in-out background-color;
                z-index: 1;

                &:after {
                    content: "";
                    position: absolute;
                    background: url("https://cdn.pixabay.com/photo/2016/03/27/07/08/man-1282232_1280.jpg")
                                no-repeat center center;
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    filter: brightness(60%);
                    opacity: 0.6;
                    z-index: -1;
                    transition: $transition-duration ease-in-out width;
                }

                &:hover {
                    justify-content: flex-start;
                    background-color: $white;

                    h2 {
                        color: $main-color;
                    }

                    p {
                        display: inline-block;
                    }

                    a {
                        display: block;
                    }

                    &:after {
                        width: 0px;
                    }
                }

                h2 {
                    font-size: 1.2em;
                }

                p {
                    margin-top: 8px;
                    display: none;
                }

                a {
                    @extend %button-second-style;
                    display: none;
                    position: absolute;
                    bottom: 32px;
                    left: 32px;
                }
            }
        }
    }
}
// End Offers Section

// Start Reviews Section 

section.reviews-section {
    @extend %grid-content;
    background-color: $main-color;
    padding: $section-ver-padding 0px;
    position: relative;

    &:hover::after {
        width: 100%;
    }

    &::after {
        @extend %section-end-line;
    }

    > .reviews-section__container {
        grid-column: content;

        .reviews-section__title {
            @extend %title-1;
        }

        .reviews-section__content {
            margin-top: 32px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
            gap: 32px;

            .review {
                padding: 32px;
                background-color: $white;
                border-radius: 5px;
                transition: $transition-duration ease-in-out transform;

                &:hover {
                    transform: scale(1.1);
                }

                &:nth-child(2) {
                    
                    @media (min-width: 996px) {
                        transform: translateY(16px);

                        &:hover {
                            transform: translateY(16px) scale(1.1);
                        }
                    }
                }

                p {
                    min-height: 200px;
                    color: $main-color;
                    font-style: italic;
                    font-size: 0.88em;
                }

                .client-info {
                    margin-top: 16px;
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    .text {
                        font-family: "Open Sans", sans-serif;

                        span {
                            font-size: 0.88em;
                            display: block;
                        }

                        small {
                            color: $main-color;
                        }
                    }

                    img {
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

// End Reviews Section 

// Start Contact Section
section.contact-section {
    @extend %grid-content;
    background-color: $main-color;
    padding: $section-ver-padding 0px;
    position: relative;

    &:hover::after {
        width: 100%;
    }

    &::after {
        @extend %section-end-line;
    }

    > .contact-section__container {
        grid-column: content;

        .contact-section__title {
            @extend %title-2;
        }

        .contact-section__content {
            margin-top: 48px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }

            .contact-section__info {

                @media (max-width: 768px) {
                    font-size: 14px;
                }

                @media (max-width: 640px) {
                    font-size: 12px;
                }
                
                h3 {
                    font-family: Montserrat, sans-serif;
                    text-transform: uppercase;
                    font-size: 1.4em;
                }

                div {
                    font-family: "Open Sans", sans-serif;
                    color: $white;
                    margin-top: 16px;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }
            }

            form {

                @media (max-width: 768px) {
                    font-size: 14px;
                }

                @media (max-width: 640px) {
                    font-size: 12px;
                }

                h3 {
                    font-family: Montserrat, sans-serif;
                    text-transform: uppercase;
                    font-size: 1.4em;
                }

                > div {
                    margin-top: 16px;
                    border: 1px $third-color solid;
                    position: relative;

                    &.form__submit {
                        border: none;
                    }

                    label {
                        color: $third-color;
                        background-color: $main-color;
                        padding: 4px 8px;
                        font-family: "Open Sans", sans-serif;
                        font-size: 0.88em;
                        position: absolute;
                        top: 0px;
                        left: 1em;
                        transform: translateY(-50%);
                    }

                    input {
                        width: 100%;
                        padding: 8px;
                        color: $white;
                        background-color: transparent;

                        &#form__submit {
                            @extend %button-main-style;
                            width: fit-content;
                            cursor: pointer;
                        }

                        &#form__message {
                            min-height: 200px;
                        }

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}
// End Contact Section

// Start Footer Section
footer {
    @extend %grid-content;
    background-color: $main-color;
    padding: $section-ver-padding 0px;
    position: relative;

    > .footer__container {
        grid-column: content;
        display: flex;
        justify-content: space-between;
        gap: 32px;

        @media (max-width: 640px) {
            flex-direction: column;
        }

        .footer__about-coach {
            font-size: 0.88em;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            @media (max-width: 768px) {
                font-size: 14px;
            }

            @media (max-width: 640px) {
                font-size: 12px;
            }
        }

        .footer__links {
            color: $third-color;
            font-family: "Open Sans", sans-serif;
            font-size: 0.88em;
            display: flex;
            gap: 32px;

            @media (max-width: 640px) {
                flex-direction: column;
                gap: 8px;
            }

            > div {

                li {
                    transition: $transition-duration ease-in-out color;

                     &:not(:first-child) {
                        margin-top: 8px;
                    }
                    
                    &:hover {
                        color: $white;
                    }
                     
                }
            }
        }

        .footer__social-links {
            color: $third-color;
            display: flex;
            gap: 8px;

            i {
                transition: $transition-duration ease-in-out color;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    .copyright {
        padding: 8px 16px;
        font-family: "Open Sans", sans-serif;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        color: $white;
        background-color: #000000;
        font-size: 12px;
        text-align: center;
    }
}
// End Footer Section