@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
}
footer, section.contact-section, section.reviews-section, section.offers-section, section.why-us-section, section.gallery-section, section.hero-section, header {
  margin: auto;
  display: grid;
  grid-template-columns: 160px [content-start] 1fr [content-end] 160px;
}
@media (max-width: 996px) {
  footer, section.contact-section, section.reviews-section, section.offers-section, section.why-us-section, section.gallery-section, section.hero-section, header {
    grid-template-columns: 64px [content-start] 1fr [content-end] 64px;
  }
}
@media (max-width: 768px) {
  footer, section.contact-section, section.reviews-section, section.offers-section, section.why-us-section, section.gallery-section, section.hero-section, header {
    grid-template-columns: 32px [content-start] 1fr [content-end] 32px;
  }
}

section.contact-section > .contact-section__container .contact-section__content form > div input#form__submit, section.hero-section > .hero-section__container .hero-section__text .hero-section__buttons a:first-child {
  color: #a2a2a2;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #00572d;
  padding: 8px 16px;
}

section.offers-section > .offers-section__container .offers-section__content .offers-section__offer a, section.about-us-section .about-us-section__content a, section.hero-section > .hero-section__container .hero-section__text .hero-section__buttons a:nth-child(2) {
  color: #a2a2a2;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  border: 2px solid #00572d;
  padding: 8px 16px;
  transition: 0.4s ease-in-out background-color;
}
section.offers-section > .offers-section__container .offers-section__content .offers-section__offer a:hover, section.about-us-section .about-us-section__content a:hover, section.hero-section > .hero-section__container .hero-section__text .hero-section__buttons a:hover:nth-child(2) {
  background-color: #00572d;
}

section.reviews-section > .reviews-section__container .reviews-section__title, section.why-us-section > .why-us-section__container .why-us-section__title-1 {
  width: 100%;
  color: #a2a2a2;
  font-size: 1.6em;
  text-transform: uppercase;
  opacity: 0.8;
}
@media (max-width: 640px) {
  section.reviews-section > .reviews-section__container .reviews-section__title, section.why-us-section > .why-us-section__container .why-us-section__title-1 {
    text-align: center;
  }
}

section.contact-section > .contact-section__container .contact-section__title, section.offers-section > .offers-section__container .offers-section__title, section.gallery-section > .gallery-section__container > .gallery-section__title {
  margin: auto;
  max-width: 600px;
  text-align: center;
}
section.contact-section > .contact-section__container .contact-section__title h2, section.offers-section > .offers-section__container .offers-section__title h2, section.gallery-section > .gallery-section__container > .gallery-section__title h2 {
  font-size: 1.6em;
  text-transform: uppercase;
}
section.contact-section > .contact-section__container .contact-section__title p, section.offers-section > .offers-section__container .offers-section__title p, section.gallery-section > .gallery-section__container > .gallery-section__title p {
  font-size: 1em;
  margin-top: 8px;
}
@media (max-width: 768px) {
  section.contact-section > .contact-section__container .contact-section__title p, section.offers-section > .offers-section__container .offers-section__title p, section.gallery-section > .gallery-section__container > .gallery-section__title p {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  section.contact-section > .contact-section__container .contact-section__title p, section.offers-section > .offers-section__container .offers-section__title p, section.gallery-section > .gallery-section__container > .gallery-section__title p {
    font-size: 12px;
  }
}

section.contact-section::after, section.reviews-section::after, section.offers-section::after, section.why-us-section::after, section.gallery-section::after, section.about-us-section::after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #a2a2a2;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s ease-in-out width;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: Montserrat, sans-serif;
  color: #EFEFEF;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #a2a2a2;
}

.loading-screen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #191919;
  z-index: 5;
  transition: 0.4s ease-in-out visibility;
}

.loading-screen .text {
  font-family: Montserrat, sans-serif;
  color: #00572d;
  display: inline-block;
  margin-left: 5px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #00572d;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
header {
  width: 100%;
  background-color: #191919;
  color: #EFEFEF;
  position: relative;
}
header > .header__container {
  grid-column: content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header > .header__container > .header__logo {
  padding: 16px 0px;
  font-family: Montserrat, sans-serif;
}
header > .header__container nav {
  padding: 16px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
}
@media (max-width: 640px) {
  header > .header__container .opened {
    display: block;
    width: 150px;
    position: absolute;
    background-color: #EFEFEF;
    color: #191919;
    bottom: 0px;
    right: 0px;
    transform: translateY(100%);
    z-index: 3;
  }
  header > .header__container .opened li {
    width: -moz-fit-content;
    width: fit-content;
    padding: 16px;
    transition: 0.4s ease-in-out transform;
  }
  header > .header__container .opened li:hover {
    transform: translateX(8px);
  }
}
@media (max-width: 640px) {
  header > .header__container ul {
    display: none;
  }
}
header > .header__container ul li {
  display: inline-block;
  padding: 16px 0px;
  transition: 0.4s ease-in-out opacity;
  position: relative;
}
header > .header__container ul li:not(:last-child) {
  margin-right: 24px;
}
header > .header__container ul li:after {
  content: "";
  background-color: #EFEFEF;
  position: absolute;
  height: 1px;
  width: 0px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s ease-in-out width;
}
header > .header__container ul li:hover:after {
  width: 100%;
}
header > .header__container .header__burger-menu {
  font-size: 16px;
  cursor: pointer;
}
@media (min-width: 640px) {
  header > .header__container .header__burger-menu {
    display: none;
  }
}

section.hero-section {
  padding: 60px 0px;
  width: 100%;
  background-color: #191919;
}
section.hero-section > .hero-section__container {
  grid-column: content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
@media (max-width: 640px) {
  section.hero-section > .hero-section__container {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
section.hero-section > .hero-section__container .hero-section__text {
  max-width: 50%;
  min-width: 300px;
}
@media (max-width: 996px) {
  section.hero-section > .hero-section__container .hero-section__text {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  section.hero-section > .hero-section__container .hero-section__text {
    font-size: 12px;
  }
}
@media (max-width: 640px) {
  section.hero-section > .hero-section__container .hero-section__text {
    font-size: 10px;
    text-align: center;
  }
}
section.hero-section > .hero-section__container .hero-section__text h1 {
  color: #EFEFEF;
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
section.hero-section > .hero-section__container .hero-section__text p {
  font-size: 14px;
}
section.hero-section > .hero-section__container .hero-section__text .hero-section__buttons {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}
@media (max-width: 640px) {
  section.hero-section > .hero-section__container .hero-section__text .hero-section__buttons {
    justify-content: center;
  }
}
section.hero-section > .hero-section__container .hero-section__videos {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 640px) {
  section.hero-section > .hero-section__container .hero-section__videos {
    flex-direction: row;
  }
}
section.hero-section > .hero-section__container .hero-section__videos .hero-section__video {
  width: 150px;
  height: 150px;
}
@media (max-width: 640px) {
  section.hero-section > .hero-section__container .hero-section__videos .hero-section__video {
    margin: 0px -16px;
    width: 100px;
    height: 100px;
  }
}
section.hero-section > .hero-section__container .hero-section__videos .hero-section__video:nth-child(2) {
  position: relative;
  z-index: 2;
  width: 200px;
  height: 200px;
  margin: -16px 0px;
}
@media (max-width: 640px) {
  section.hero-section > .hero-section__container .hero-section__videos .hero-section__video:nth-child(2) {
    margin: 0px -16px;
    width: 150px;
    height: 150px;
  }
}
section.hero-section > .hero-section__container .hero-section__videos .hero-section__video > video {
  border-radius: 10px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.about-us-section {
  display: grid;
  padding: 60px 0px;
  grid-template-columns: 40% 60%;
  align-items: center;
  background-color: #191919;
  position: relative;
}
section.about-us-section:hover::after {
  width: 100%;
}
@media (min-width: 640px) {
  section.about-us-section::after {
    display: none;
  }
}
@media (max-width: 640px) {
  section.about-us-section {
    grid-template-columns: 1fr;
  }
}
section.about-us-section > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  max-height: 350px;
}
@media (max-width: 640px) {
  section.about-us-section > img {
    max-height: 250px;
  }
}
section.about-us-section .about-us-section__content {
  padding: 32px;
}
@media (max-width: 758px) {
  section.about-us-section .about-us-section__content {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  section.about-us-section .about-us-section__content {
    padding: 32px 32px 0px 32px;
    text-align: center;
    font-size: 12px;
  }
}
section.about-us-section .about-us-section__content h3 {
  font-size: 1.4em;
}
section.about-us-section .about-us-section__content p {
  font-size: 1em;
  margin: 8px 0px;
}
section.about-us-section .about-us-section__content a {
  margin-top: 16px;
}

section.gallery-section {
  padding: 60px 0px;
  background-color: #191919;
  position: relative;
}
section.gallery-section:hover::after {
  width: 100%;
}
section.gallery-section > .gallery-section__container {
  grid-column: content;
}
section.gallery-section > .gallery-section__container > .gallery-section__content {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
}
section.gallery-section > .gallery-section__container > .gallery-section__content img {
  border-radius: 10px;
  opacity: 0.8;
  transition: 0.4s ease-in-out opacity;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.gallery-section > .gallery-section__container > .gallery-section__content img:hover {
  opacity: 1;
}

section.why-us-section {
  padding: 60px 0px;
  background-color: #191919;
  position: relative;
}
section.why-us-section:hover::after {
  width: 100%;
}
section.why-us-section > .why-us-section__container {
  grid-column: content;
}
section.why-us-section > .why-us-section__container .why-us-section__content {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 768px) {
  section.why-us-section > .why-us-section__container .why-us-section__content {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  section.why-us-section > .why-us-section__container .why-us-section__content {
    text-align: center;
    font-size: 12px;
  }
}
section.why-us-section > .why-us-section__container .why-us-section__content > div {
  display: flex;
  gap: 32px;
}
@media (max-width: 768px) {
  section.why-us-section > .why-us-section__container .why-us-section__content > div {
    flex-direction: column;
  }
}
section.why-us-section > .why-us-section__container .why-us-section__content h3 {
  font-size: 1.2em;
}
section.why-us-section > .why-us-section__container .why-us-section__content p {
  margin-top: 8px;
  font-size: 1em;
  max-width: 500px;
}
@media (min-width: 768px) {
  section.why-us-section > .why-us-section__container .why-us-section__content p {
    margin-left: 24px;
  }
}

section.offers-section {
  background-color: #191919;
  padding: 60px 0px;
  position: relative;
}
section.offers-section:hover::after {
  width: 100%;
}
section.offers-section > .offers-section__container {
  grid-column: content;
}
section.offers-section > .offers-section__container .offers-section__content {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 32px;
}
@media (max-width: 768px) {
  section.offers-section > .offers-section__container .offers-section__content {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  section.offers-section > .offers-section__container .offers-section__content {
    font-size: 12px;
  }
}
section.offers-section > .offers-section__container .offers-section__content .offers-section__offer {
  padding: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  aspect-ratio: 4/5;
  border-radius: 5px;
  transition: 0.4s ease-in-out background-color;
  z-index: 1;
}
section.offers-section > .offers-section__container .offers-section__content .offers-section__offer:after {
  content: "";
  position: absolute;
  background: url("https://cdn.pixabay.com/photo/2016/03/27/07/08/man-1282232_1280.jpg") no-repeat center center;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  filter: brightness(60%);
  opacity: 0.6;
  z-index: -1;
  transition: 0.4s ease-in-out width;
}
section.offers-section > .offers-section__container .offers-section__content .offers-section__offer:hover {
  justify-content: flex-start;
  background-color: #EFEFEF;
}
section.offers-section > .offers-section__container .offers-section__content .offers-section__offer:hover h2 {
  color: #191919;
}
section.offers-section > .offers-section__container .offers-section__content .offers-section__offer:hover p {
  display: inline-block;
}
section.offers-section > .offers-section__container .offers-section__content .offers-section__offer:hover a {
  display: block;
}
section.offers-section > .offers-section__container .offers-section__content .offers-section__offer:hover:after {
  width: 0px;
}
section.offers-section > .offers-section__container .offers-section__content .offers-section__offer h2 {
  font-size: 1.2em;
}
section.offers-section > .offers-section__container .offers-section__content .offers-section__offer p {
  margin-top: 8px;
  display: none;
}
section.offers-section > .offers-section__container .offers-section__content .offers-section__offer a {
  display: none;
  position: absolute;
  bottom: 32px;
  left: 32px;
}

section.reviews-section {
  background-color: #191919;
  padding: 60px 0px;
  position: relative;
}
section.reviews-section:hover::after {
  width: 100%;
}
section.reviews-section > .reviews-section__container {
  grid-column: content;
}
section.reviews-section > .reviews-section__container .reviews-section__content {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 32px;
}
section.reviews-section > .reviews-section__container .reviews-section__content .review {
  padding: 32px;
  background-color: #EFEFEF;
  border-radius: 5px;
  transition: 0.4s ease-in-out transform;
}
section.reviews-section > .reviews-section__container .reviews-section__content .review:hover {
  transform: scale(1.1);
}
@media (min-width: 996px) {
  section.reviews-section > .reviews-section__container .reviews-section__content .review:nth-child(2) {
    transform: translateY(16px);
  }
  section.reviews-section > .reviews-section__container .reviews-section__content .review:nth-child(2):hover {
    transform: translateY(16px) scale(1.05);
  }
}
section.reviews-section > .reviews-section__container .reviews-section__content .review p {
  min-height: 200px;
  color: #191919;
  font-style: italic;
  font-size: 0.88em;
}
section.reviews-section > .reviews-section__container .reviews-section__content .review .client-info {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
section.reviews-section > .reviews-section__container .reviews-section__content .review .client-info .text {
  font-family: "Open Sans", sans-serif;
}
section.reviews-section > .reviews-section__container .reviews-section__content .review .client-info .text span {
  font-size: 0.88em;
  display: block;
}
section.reviews-section > .reviews-section__container .reviews-section__content .review .client-info .text small {
  color: #191919;
}
section.reviews-section > .reviews-section__container .reviews-section__content .review .client-info img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.contact-section {
  background-color: #191919;
  padding: 60px 0px;
  position: relative;
}
section.contact-section:hover::after {
  width: 100%;
}
section.contact-section > .contact-section__container {
  grid-column: content;
}
section.contact-section > .contact-section__container .contact-section__content {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
@media (max-width: 768px) {
  section.contact-section > .contact-section__container .contact-section__content {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  section.contact-section > .contact-section__container .contact-section__content .contact-section__info {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  section.contact-section > .contact-section__container .contact-section__content .contact-section__info {
    font-size: 12px;
  }
}
section.contact-section > .contact-section__container .contact-section__content .contact-section__info h3 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 1.4em;
}
section.contact-section > .contact-section__container .contact-section__content .contact-section__info div {
  font-family: "Open Sans", sans-serif;
  color: #EFEFEF;
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 768px) {
  section.contact-section > .contact-section__container .contact-section__content form {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  section.contact-section > .contact-section__container .contact-section__content form {
    font-size: 12px;
  }
}
section.contact-section > .contact-section__container .contact-section__content form h3 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 1.4em;
}
section.contact-section > .contact-section__container .contact-section__content form > div {
  margin-top: 16px;
  border: 1px #a2a2a2 solid;
  position: relative;
}
section.contact-section > .contact-section__container .contact-section__content form > div.form__submit {
  border: none;
}
section.contact-section > .contact-section__container .contact-section__content form > div label {
  color: #a2a2a2;
  background-color: #191919;
  padding: 4px 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.88em;
  position: absolute;
  top: 0px;
  left: 1em;
  transform: translateY(-50%);
}
section.contact-section > .contact-section__container .contact-section__content form > div input {
  width: 100%;
  padding: 8px;
  color: #EFEFEF;
  background-color: transparent;
}
section.contact-section > .contact-section__container .contact-section__content form > div input#form__submit {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
section.contact-section > .contact-section__container .contact-section__content form > div input#form__message {
  min-height: 200px;
}
section.contact-section > .contact-section__container .contact-section__content form > div input:focus {
  outline: none;
}

footer {
  background-color: #191919;
  padding: 60px 0px;
  position: relative;
}
footer > .footer__container {
  grid-column: content;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
@media (max-width: 640px) {
  footer > .footer__container {
    flex-direction: column;
  }
}
footer > .footer__container .footer__about-coach {
  font-size: 0.88em;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 768px) {
  footer > .footer__container .footer__about-coach {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  footer > .footer__container .footer__about-coach {
    font-size: 12px;
  }
}
footer > .footer__container .footer__links {
  color: #a2a2a2;
  font-family: "Open Sans", sans-serif;
  font-size: 0.88em;
  display: flex;
  gap: 32px;
}
@media (max-width: 640px) {
  footer > .footer__container .footer__links {
    flex-direction: column;
    gap: 8px;
  }
}
footer > .footer__container .footer__links > div li {
  transition: 0.4s ease-in-out color;
}
footer > .footer__container .footer__links > div li:not(:first-child) {
  margin-top: 8px;
}
footer > .footer__container .footer__links > div li:hover {
  color: #EFEFEF;
}
footer > .footer__container .footer__social-links {
  color: #a2a2a2;
  display: flex;
  gap: 8px;
}
footer > .footer__container .footer__social-links i {
  transition: 0.4s ease-in-out color;
}
footer > .footer__container .footer__social-links i:hover {
  color: #EFEFEF;
}
footer .copyright {
  padding: 8px 16px;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #EFEFEF;
  background-color: #000000;
  font-size: 12px;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */